<% form_tag(session_path, :method => :post) do %>
  <fieldset>
    <legend>User Information</legend>

    <label for="email">E-mail</label><br />
    <%= text_field_tag :email %><br />
    <br />

    <label for="password">Password</label><br />
    <%= password_field_tag %><br />
    <br />

    <button type="submit">Log In</button>
  </fieldset>
<% end %>