<div id="content">
  <% if @query.present? %>
    <h2>Search Results</h2>
  <% else %>
    <% if @groups.length > 0 %>
      <h2>Recent Expenses</h2>
    <% else %>
      <h2>Expenses</h2>
    <% end %>
  <% end %>

  <% if @groups.length > 0 %>
    <% @groups.each do |group, payments| %>
      <h3><%= group %></h3>

      <ul class="payments">
        <% payments.each do |payment| -%>
          <li><strong><%= number_to_currency payment.cost %></strong> on <span><%= h payment.item %></span>.</li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <h3>No Expenses</h3>

    <% if @query.present? %>
      <p>No results found.</p>
    <% else %>
      <p>You do not have any expenses, yet. Once you spend some money add it using the field above.</p>
    <% end %>
  <% end %>
</div>

<div id="sidebar">
  <%= render :partial => 'sidebar' %>
</div>
