/*
 *= require reset
 *= require_self
 */

body {
  font-size: 10px;
  min-height: 416px;
}

body,
input {
  font-family: Helvetica;
}

h1 {
  background-color: #5A843A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6A944A), to(#4A742A));
  color: #FFF;
  padding: 12px 0;
  border-bottom: 1px solid #2E580E;
  font-size: 32px;
  text-align: center;
  text-shadow: 2px 2px 0 #2E580E;
}

h1 a {
  background: inherit;
  color: #FFF;
  text-decoration: none;
}

#new_session {
  padding: 12px;
}

#new_session * {
  font-size: 16px;
}

#new_payment {
  position: relative;
  background-color: #5A843A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6A944A), to(#4A742A));
  height: 50px;
}

#new_payment input {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 8px;
  left: 6px;
  background: #FFF;
  color: #555;
  font-size: 14px;
}

#new_payment input:focus {
  background: #FFF;
  color: #000;
}

#payments h3 {
  background-color: #EEE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#EEE));
  color: #333;
  padding: 8px 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  font-weight:  bold;
  text-align: center;
}

#payments li {
  padding: 12px;
  border-bottom: 1px solid #DDD;
  font-size: 16px;
}

#payments li strong {
  font-weight: bold;
}
