<div id="content">
  <h2>Recent Expenses</h2>

  <% if @groups.length > 0 %>
    <% @groups.each do |group, expenses| %>
      <h3><%= group %></h3>

      <ul class="expenses">
        <% expenses.each do |expense| -%>
          <li><strong><%= number_to_currency expense.cost %></strong> on <span><%= h expense.item %></span>.</li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <h3>No Expenses</h3>

    <p>You do not have any expenses, yet. Once you spend some money add it using the field above.</p>
  <% end %>
</div>

<div id="sidebar">
  <%= render :partial => 'sidebar' %>
</div>