<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width">

  <title>Expense - Simple, personal expense tracking.</title>

  <%= stylesheet_link_tag 'reset', 'iphone' %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application.iphone' %>

</body>
</html>
