<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Expense - Simple, personal expense tracking.</title>

  <link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/screen.css" media="screen" />
</head>
<body>

<div id="header">
  <div class="container">
    <h1><a href="/">Expense</a></h1>
    <p>Simple, personal expense tracking.</p>

    <% if logged_in? %>
      <ul>
        <li><a href="/logout">Logout</a></li>
      </ul>

      <% form_for(@expense) do |form| %>
        <fieldset>
          <legend>Add an Expense</legend>

          <label for="expense_item">Item</label><br />
          <%= form.text_field :item %>
          <br />

          <button type="submit">Add</button>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>

<div id="content">
  <div class="container">
    <%= yield %>
  </div>
</div>

<div id="footer" class="container">
  <p>
    Created by <a href="http://tristandunn.com">Tristan Dunn</a>.
  </p>
</div>

</body>
</html>